body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    font-family: 'Open Sans', sans-serif;;
}

/*Nav css*/
.nav {
    overflow: hidden;
    background-color: #333;
}

.nav .nav-item, .nav .nav-item-divider {
    display: block;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.nav .nav-item-divider {
    /*todo more style*/
    font-weight: bold;
    cursor: default;
}

.nav .nav-item:hover {
    background-color: #111;
}

/*users List*/

#users-list {
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #333;
}

#search-container {
    /*margin:20px auto;*/
    padding: 20px;
}

.user-tile {
    width: 19%;
    min-width: 150px;
    height: 200px;
    margin: 10px auto;
    background: #eee;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.user-tile .user-avatar-img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 5px auto;
}

/* REPOS INFO */
#user-repo-information .repos-loading{
    text-align: center;
}

.repo-tile {
    padding: 10px;
    margin: 10px;
    border: 1px solid #BFBFBF;
    background-color: #fff;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.repo-tile > p {
    font-size: 13px;
    margin-top: 4px;
}

/* go back */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button.small {
    padding: 4px 8px;
    font-size: 13px;
    margin: 2px;
}

.info {
    background-color: #31badc;
    font-size: 13px;
}

.go-back {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    margin-top: 50px;
    margin-bottom: 50px;
}

.text-center{
    text-align: center;
}

.white {
    color: #fff;
}

/* paginator */
.paginator-button:disabled {
    /*background: #eee;*/
    cursor: not-allowed;
}